
BR2_ARM_FPU_VFPV4=y

BR2_USE_MMU=y
BR2_cortex_a7=y
BR2_arm=y
BR2_ARM_EABIHF=y

# Filesystem / image
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y

BR2_KERNEL_HEADERS_5_4=y
#
# GCC Options
#
# BR2_GCC_VERSION_10_X is not set
BR2_GCC_VERSION_11_X=y
# BR2_GCC_VERSION_12_X is not set
BR2_GCC_SUPPORTS_DLANG=y
BR2_GCC_VERSION="11.3.0"
BR2_EXTRA_GCC_CONFIG_OPTIONS=""
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# BR2_TOOLCHAIN_BUILDROOT_FORTRAN is not set
# BR2_TOOLCHAIN_BUILDROOT_DLANG is not set
# BR2_GCC_ENABLE_OPENMP is not set
# BR2_GCC_ENABLE_GRAPHITE is not set
BR2_PACKAGE_HOST_GDB_ARCH_SUPPORTS=y

# Sunplus software development kit
BR2_SP_BOARD_BPI_F2S=y
BR2_SP_BOOT_TYPE_EMMC=y
BR2_LINUX_PREBUILT_KERNEL=y
BR2_SP_LINUX_KERNEL_54=y
BR2_SP_TARGET_ROOTFS_NATIVE=y
